#controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  #boxes {
    display: flex;
    flex-wrap: wrap;
  }
  
  #boxes div {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
  }